


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.inputContainer{
  background:url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-color: #032324 ;
  background-position:top right ;
}